In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', 500)  # or 1000

In [3]:
datadir = "/home/xzhang/zxw/good/code_5009/datasets/car/"
fname = 'all_regions'
fdata = fname + '.csv'

In [4]:
df = pd.read_csv(datadir+fdata, delimiter=',') # na_values='NaN'

In [5]:
df.shape

(1294757, 18)

In [6]:
df.isna().sum()

brand                        0
name                         0
bodyType                     0
color                    37728
fuelType                  4942
year                    570113
mileage                 522958
transmission              5194
power                    21404
price                        0
vehicleConfiguration    570110
engineName              573781
engineDisplacement      577132
date                         0
location                     0
link                         0
description              40352
parse_date                   0
dtype: int64

In [7]:
df = df.drop(['name','vehicleConfiguration','engineName','engineDisplacement','date','location','link','parse_date', 'description',
               # 'year' this line due to NaN
             ],
        axis=1)

In [8]:
df = df.dropna()
df.shape

(410003, 9)

In [9]:
df['brand'].unique().shape, df['bodyType'].unique().shape, df['color'].unique().shape, df['fuelType'].unique().shape, df['transmission'].unique().shape

((107,), (11,), (16,), (3,), (4,))

In [10]:
df = df.drop(['brand','color'], axis=1)

In [11]:
for c in ['bodyType','fuelType','transmission']:
    df1 = pd.get_dummies(df[c]).astype(int)
    df = pd.concat([df, df1], axis=1)

df = df.drop(['bodyType','fuelType','transmission'], axis=1)
df.shape

(410003, 22)

In [12]:
df

,year,mileage,power,price,Джип 3 дв.,Джип 5 дв.,Купе,Лифтбек,Минивэн,Открытый,Пикап,Седан,Универсал,Хэтчбек 3 дв.,Хэтчбек 5 дв.,Бензин,Дизель,Электро,АКПП,Вариатор,Механика,Робот
1,1996.0,37000.0,33.0,95000,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0
2,2002.0,295000.0,87.0,380000,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0
3,2018.0,16000.0,106.0,795000,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0
9,2002.0,220000.0,80.0,450000,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
12,2007.0,185000.0,81.0,120000,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1294746,2008.0,280000.0,109.0,550000,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0
1294753,1985.0,300000.0,64.0,165000,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0
1294754,2020.0,32000.0,202.0,3100000,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0
1294755,1995.0,354000.0,79.0,298000,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
1294756,1995.0,354000.0,79.0,320000,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0

In [13]:
df['year'] = 2023 - df['year']

In [14]:
df.dtypes.tolist()

[dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64')]

In [15]:
df

,year,mileage,power,price,Джип 3 дв.,Джип 5 дв.,Купе,Лифтбек,Минивэн,Открытый,Пикап,Седан,Универсал,Хэтчбек 3 дв.,Хэтчбек 5 дв.,Бензин,Дизель,Электро,АКПП,Вариатор,Механика,Робот
1,27.0,37000.0,33.0,95000,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0
2,21.0,295000.0,87.0,380000,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0
3,5.0,16000.0,106.0,795000,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0
9,21.0,220000.0,80.0,450000,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
12,16.0,185000.0,81.0,120000,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1294746,15.0,280000.0,109.0,550000,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0
1294753,38.0,300000.0,64.0,165000,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0
1294754,3.0,32000.0,202.0,3100000,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0
1294755,28.0,354000.0,79.0,298000,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
1294756,28.0,354000.0,79.0,320000,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0